<html>
    <body bgcolor="lightgreen">
        <h1>About us Page</h1>
        <a href="home">Home</a>
        <a href="contact">Contact</a>
        <form action="add">
            <input type="text" name="a1">
            <input type="text" name="a2">
            <input type="submit" name="btn" value="add">
            <input type="submit" name="btn" value="sub">
            <input type="submit" name="btn" value="mul">
            <input type="submit" name="btn" value="div">
        </form>
        <input type="text" name="a5" value="{{c}}" readonly>
    </body>
</html>