<html>
  <body>
    <form action="../upd2/{{x.id}}">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="a1" value="{{x.name}}" /><br />
      <label for="email">Email:</label><br />
      <input type="text" id="email" name="a2" value="{{x.email}}" /><br />
      <label for="phno">Phone Number:</label><br />
      <input type="text" id="phno" name="a3" value="{{x.phno}}" /><br />
      <label for="addr">Address:</label><br />
      <input type="text" id="addr" name="a4" value="{{x.addr}}" /><br />
      <label for="fname">Father's Name:</label><br />
      <input type="text" id="fname" name="a5" value="{{x.fname}}" /><br />
      <label for="mname">Mother's Name:</label><br />
      <input type="text" id="mname" name="a6" value="{{x.mname}}" /><br />
      <label for="city">City:</label><br />
      <input type="text" id="city" name="a7" value="{{x.city}}" /><br />
      <label for="state">State:</label><br />
      <input type="text" id="state" name="a8" value="{{x.state}}" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
